
/* Section G */
.sectionG{
    flex-direction:column;
    gap:60px;
}

.sectionG .offers{
    display:flex;
    gap:40px;
    flex-wrap:wrap;
    justify-content: center;
}
.sectionG .plan{
    height:fit-content;
    width:100%;
    max-width:360px;
    background-color:var(--pellet-white);
    border-radius:10px;
    font-size:var(--font-standard);
    overflow:hidden;
}
.sectionG .plan .planHead{
    background-color:var(--pellet-dark);
    text-align:center;
    color:var(--pellet-white);
    padding:10px;
}
.sectionG .plan .planHead.silver{
    background-color:var(--pellet-silver-pkg);
}
.sectionG .plan .planHead.gold{
    background-color:var(--pellet-gold-pkg);
}
.sectionG .plan .heading{
    font-size:var(--font-huge);
    font-weight:var(--weight-bold);
}
.sectionG .priceInformation{
    text-align:center;
    padding:50px 0;
}
.sectionG .priceInformation .standardCurrency, .sectionG .priceInformation .standardCurrency span{
    font-size:var(--font-banner);
    font-weight:var(--weight-bold);
}
.sectionG .priceInformation .userlessInfo{
    font-size:var(--font-small);
    text-align:left;
    margin: 0 auto;
    width:fit-content;
    padding-top:20px;
}
.sectionG .planFeatures p{
    padding:10px;
    display:flex;
    align-items:center;
    gap:10px;
}
.sectionG .planFeature{
    display:flex;
    align-items:center;
    padding:10px;
}
.sectionG .planFeature span{
    color:var(--pellet-valid-green);
}
.sectionG .planFeature span.notValid{
    color: var(--pellet-invalid-red);
}
.sectionG .centeredBtn {
    width:100%;
    padding:40px 20px;
}
.sectionG .applyPlan{
    width:100%;
}
.userlessInfo{
    display: none;
}