/* Section H */
.sectionH {
    display:flex;
    flex-direction: column;
    gap:35px;
}
.sectionH img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
.sectionH .alignRow{
    display:flex;
    gap:20px;
}
.sectionH .imgRefrence{
    width:100%;
    max-width:230px;
}