.headingArea h2, .headingArea h1{
    font-size:var(--font-huge);
    font-weight:var(--weight-bold);
}
.loginForm{
    display:none;
    display:flex;
    flex-direction:column;
    gap:37px;
}
.loginForm .inputGroup{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.loginForm .inpHolder{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.loginForm .buttonRow{
    display:flex;
    gap:10px;
}
.loginForm .buttonRow .takeWidth{
    flex-grow:1;
}
.loginForm .buttonGroup{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.container{
    padding:160px 20px 320px 20px;
}
.letSignUp{
    font-size:var(--font-standard);
    color:var(--pellet-dark);
}
.letSignUp a{
    color:var(--pellet-foreground);
}