.headingArea h2, .headingArea h1{
    font-size:var(--font-huge);
    font-weight:var(--weight-bold);
}
.container{
    padding:160px 20px 320px 20px;
}
.termsAndConditions{
    font-size:var(--font-standard);
    color:var(--pellet-foreground);
}
.termsAndConditions .termsHead{
    font-weight:var(--weight-bold);
}