.headingArea h2, .headingArea h1{
    font-size:var(--font-huge);
    font-weight:var(--weight-bold);
}
.container{
    padding:160px 20px 320px 20px;
}
.orders{
    display:flex;
    flex-direction:column;
    gap:60px;
    border:2px solid var(--pellet-dark);
    border-radius:20px;
    padding:20px;
}
.orders .order{
    border: 2px solid var(--pellet-dark);
    padding:10px;
    border-radius:10px;
    border-bottom-left-radius:0;
    max-width:450px;
}
.orders .order form button{
    align-items: center;
    display: flex;
    gap:10px;
    padding:5px 10px;
}
.orders .infoText{
    padding:10px 0;
}
.orders .infoText.clickable{
    display:flex;
    align-items:center;
    gap:20px;
}
.orders .infoText .btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:5px 10px;
}